@font-face {
    font-family: 'Muller';
    src: url(../font/MullerLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'Muller';
    src: url(../font/MullerRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Muller';
    src: url(../font/MullerMedium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Muller';
    src: url(../font/MullerBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: 'Muller';
    src: url(../font/MullerExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}

@font-face {
    font-family: 'denistina';
    src: url(../font/denistina_en.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}