@font-face {
  font-family: "Muller";
  src: url(../font/MullerLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Muller";
  src: url(../font/MullerRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Muller";
  src: url(../font/MullerMedium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "Muller";
  src: url(../font/MullerBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "Muller";
  src: url(../font/MullerExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
}
@font-face {
  font-family: "denistina";
  src: url(../font/denistina_en.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muller", sans-serif;
  font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1"; /* Firefox */
  -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on; /* WebKit */
  -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #29496c;
}

.bodyStopScroll {
  overflow: hidden;
  height: 100vh;
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-family: "Muller", sans-serif;
  transition: 0.3s all;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

input, textarea, select, button {
  border: none;
  outline: none;
  font-family: "Muller", sans-serif;
  transition: 0.3s all;
  caret-color: #8654CC;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.select {
  width: 280px;
  position: relative;
  white-space: nowrap;
  font-weight: 500;
}
.select-head {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #F2F3F7;
  border: 2px solid #fff;
  padding: 0 15px;
  cursor: pointer;
}
.select-head:hover {
  background: #dde1e7;
}
.select .options {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  background: #fff;
  border: 2px solid #f2f3f7;
  box-shadow: 0px 5px 15px 0px rgba(29, 32, 35, 0.07);
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
  display: none;
  padding: 10px 12px;
  max-height: 300px;
  overflow-y: scroll;
}
.select .options::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  background: #DDE1E7;
}
.select .options::-webkit-scrollbar-thumb {
  background: #abafb5;
}
.select .options .option {
  padding: 5px;
  cursor: pointer;
  color: rgba(29, 32, 35, 0.6);
}
.select .options .option:hover {
  color: #1D2023;
}
.select .options .active {
  color: #8654CC;
}

.showSelect .select-head {
  background: #fff;
  border-color: #BBBBBB;
}
.showSelect .select-head svg {
  transform: rotate(180deg);
}
.showSelect .options {
  display: block;
}

.title-text {
  font-size: 32px;
  line-height: 46px;
  font-weight: 500;
  color: #29496c;
}

.info-text {
  font-size: 16px;
  line-height: 23.36px;
  font-weight: 300;
  color: #3c3c3b;
}

.btn {
  width: 239px;
  height: 68px;
  border-radius: 8px;
  background: #29496c;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #29496C;
}
.btn:hover {
  background: #fff;
  color: #29496C;
}

.btn2 {
  width: 100%;
  height: 57px;
  border-radius: 8px;
  background: #fff;
  color: #29496c;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #29496C;
}
.btn2:hover {
  background: #29496c;
  color: #fff;
}

.swiper-btns .prev,
.swiper-btns .next {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  box-shadow: -8px 19px 32px 0px rgba(29, 32, 35, 0.21);
  cursor: pointer;
}
.swiper-btns .prev:hover,
.swiper-btns .next:hover {
  background: #29496c;
  box-shadow: none;
}
.swiper-btns .prev:hover svg path,
.swiper-btns .next:hover svg path {
  fill: #fff;
}
.swiper-btns .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-btns .pagination .swiper-pagination-bullet {
  width: 24px;
  height: 2px;
  background: #fff;
  opacity: 1;
}
.swiper-btns .pagination .swiper-pagination-bullet-active {
  background: #29496c;
}

.header {
  padding: 12px 0;
  background: #fff;
  box-shadow: 0px 4px 30px -16px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 24px 24px;
  color: #29496c;
}
.header-nav {
  width: 60%;
  justify-content: space-between;
}
.header-nav li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #29496c;
  position: relative;
}
.header-nav li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 1px;
  background: #29496c;
  transition: 0.3s linear;
}
.header-nav li:hover::before {
  width: 100%;
}
.header-phone .phone-num {
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header-phone .order-phone {
  display: flex;
  align-items: center;
}
.header-phone .order-phone img {
  margin-right: 12px;
}
.header-phone .order-phone span {
  display: inline-block;
  border-bottom: 1px dashed #29496C;
  font-weight: 400;
}
.header .menu-btn {
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}
.header .menu-btn img:last-child {
  display: none;
}
.header .clickedBtn img:first-child {
  display: none;
}
.header .clickedBtn img:last-child {
  display: block;
}
.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.header .menu-content {
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 100px 50px;
  transition: 0.3s all;
  animation: anim-menu 0.3s linear;
}
.header .menu-nav li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.header .menu-nav li:last-child {
  margin-bottom: 50px;
}
.header .menu-phone .phone-num {
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header .menu-phone .order-phone {
  display: flex;
  align-items: center;
}
.header .menu-phone .order-phone img {
  margin-right: 12px;
}
.header .menu-phone .order-phone span {
  display: inline-block;
  border-bottom: 1px dashed #29496C;
  font-weight: 400;
}
@keyframes anim-menu {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

main .banner {
  margin: 24px 0 142px;
}
main .banner-box {
  background-image: url(../img/png/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 74px 20px 66px 100px;
  border-radius: 16px;
}
main .banner-box .title-text {
  width: 85%;
}
main .banner-box .info-text {
  margin: 12px 0 40px;
  width: 66%;
}
main .company .container {
  display: flex;
  align-items: center;
}
main .company-img {
  width: 40%;
  object-fit: contain;
  margin-right: 24px;
}
main .company .title-text {
  margin-bottom: 8px;
}
main .company .info-text {
  margin-top: 24px;
}
main .company-text {
  font-family: "denistina", sans-serif;
  font-size: 48px;
  line-height: 70px;
  color: #536272;
  margin-top: 64px;
}
main .company-subtext {
  font-weight: 300;
}
main .catalog {
  background-image: url(../img/png/catalog-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 110px;
  margin: 100px 0 120px;
  position: relative;
}
main .catalog .strawberry {
  position: absolute;
  left: 30px;
  top: 100%;
}
main .catalog .title-text {
  position: relative;
  display: flex;
  align-items: center;
}
main .catalog .title-text::before {
  content: url(../img/svg/ice-cream.svg);
  margin-right: 24px;
}
main .catalog .swiper-catalog {
  padding: 48px 0 24px;
}
main .catalog .swiper-box {
  position: relative;
}
main .catalog .swiper-btns .prev {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: -15px;
  z-index: 10;
}
main .catalog .swiper-btns .next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: -15px;
  z-index: 10;
}
main .catalog-item {
  height: 333px;
  border-radius: 16px;
  background: #fff;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 0.3s all;
  cursor: default;
}
main .catalog-item:hover {
  box-shadow: 8px 16px 22px 0px rgba(29, 32, 35, 0.07);
}
main .catalog-item .item-img {
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
}
main .catalog-item .item-name {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}
main .catalog-item .item-price {
  font-size: 12px;
  line-height: 12px;
  color: #939393;
  margin: 16px 0 24px;
}
main .catalog-item .item-price span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #3c3c3b;
}
main .advantages {
  overflow: hidden;
}
main .advantages .title-text {
  font-size: 40px;
  line-height: 58px;
}
main .advantages-box {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  position: relative;
}
main .advantages .ice-cream {
  width: 100%;
  object-fit: contain;
  margin-left: 15%;
}
main .advantages .circle-text {
  position: absolute;
  right: 28%;
  top: 2%;
}
main .advantages-item .item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
main .advantages-item .item-line {
  position: absolute;
}
main .advantages-item .item-icon {
  margin-right: 12px;
}
main .advantages-item .item-text {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}
main .advantages-item .item:nth-child(1) {
  top: 10%;
  flex-direction: column;
  align-items: start;
}
main .advantages-item .item:nth-child(1) .item-icon {
  margin-bottom: 12px;
}
main .advantages-item .item:nth-child(1) .item-line {
  bottom: 60%;
  left: 18%;
}
main .advantages-item .item:nth-child(2) {
  top: 8%;
  justify-content: end;
}
main .advantages-item .item:nth-child(2) .item-line {
  top: 140%;
  right: 12%;
}
main .advantages-item .item:nth-child(3) {
  top: 40%;
}
main .advantages-item .item:nth-child(3) .item-line {
  bottom: 120%;
  left: 9%;
}
main .advantages-item .item:nth-child(4) {
  top: 52%;
  justify-content: end;
}
main .advantages-item .item:nth-child(4) .item-line {
  bottom: 130%;
  right: 16%;
}
main .advantages-item .item:nth-child(5) {
  top: 62%;
  left: 5%;
}
main .advantages-item .item:nth-child(5) .item-line {
  bottom: 120%;
  left: 15%;
}
main .partner {
  margin-top: -250px;
}
main .partner-item {
  display: flex;
  align-items: center;
  margin-top: 48px;
}
main .partner-item .item-icon {
  margin-right: 43px;
}
main .partner-item .item-title {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #3c3c3b;
  margin-bottom: 22px;
}
main .story {
  margin: 120px 0;
  padding: 120px 0 180px;
  background-image: url(../img/png/story-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
main .story .ice-cream {
  position: absolute;
  object-fit: contain;
  top: 30px;
  left: 0;
  width: 360px;
  z-index: 1;
}
main .story .illustration {
  width: 300px;
  object-fit: contain;
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1;
}
main .story .blueberries {
  position: absolute;
  top: 40px;
  right: 20px;
}
main .story .strawberry {
  position: absolute;
  left: 0;
  bottom: -40px;
}
main .story-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-top: 50px;
  position: relative;
}
main .story-box .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
main .story-item {
  min-height: 282px;
  background: #fff;
  padding: 32px 64px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #536272;
  position: relative;
}
main .story-item:first-child {
  z-index: 3;
}
main .story-item .item-num {
  font-size: 36px;
  line-height: 52px;
  font-weight: 500;
  color: #ffcfdc;
}
main .story-item .item-title {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #29496c;
  margin-bottom: 16px;
}
main .contact .container {
  display: flex;
  align-items: center;
}
main .contact-info {
  min-width: 400px;
  margin-right: 90px;
}
main .contact .info-item {
  display: flex;
  align-items: start;
  margin-top: 32px;
}
main .contact .info-item img {
  margin-right: 16px;
}
main .contact .info-item .item-title {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}
main .contact .info-item .item-text {
  font-size: 14px;
  line-height: 20px;
}
main .contact .info-item:nth-child(3) .item-title {
  font-size: 16px;
  line-height: 24px;
}
main .contact .info-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .contact .info-link .link {
  display: flex;
  align-items: center;
  margin-top: 32px;
  font-size: 14px;
  line-height: 19px;
}
main .contact .info-link .link img {
  margin-right: 15px;
}
main .contact .info-link .link:first-child {
  margin-right: 15px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}
main .contact-map {
  width: 100%;
  height: 380px;
}
main .contact-map .map {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}
main .request {
  margin: 215px 0 100px;
  padding: 86px 0;
  background-image: url(../img/png/story-bg.png);
  background-size: 100% 100%;
  position: relative;
}
main .request .ice-cream {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
main .request .info-text {
  margin-top: 8px;
}
main .request-form {
  width: 50%;
}
main .whereBy-box {
  display: flex;
  margin-top: 48px;
}
main .whereBy .search-box {
  min-width: 398px;
  margin-right: 7px;
}
main .whereBy .search {
  margin-right: 9px;
  position: relative;
}
main .whereBy .search-inp {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #29496C;
  padding: 16px 75px 16px 24px;
  font-size: 12px;
}
main .whereBy .search-inp::placeholder {
  color: #939393;
}
main .whereBy .search-inp:focus {
  border-color: #29496C;
}
main .whereBy .search .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
main .whereBy .search .search-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: none;
}
main .whereBy .search .search-clear:hover svg path {
  fill: #29496C;
}
main .whereBy .searchInp .search-clear {
  display: block;
}
main .whereBy .searchInp .search-icon {
  right: 45px;
}
main .whereBy .search-list {
  margin-top: 24px;
  padding-right: 6px;
  overflow-y: scroll;
  max-height: 400px;
}
main .whereBy .search-list::-webkit-scrollbar {
  width: 3px;
  background: #fafafa;
  border-radius: 4px;
}
main .whereBy .search-list::-webkit-scrollbar-thumb {
  background: #29496C;
  border-radius: 4px;
}
main .whereBy .search-item {
  padding: 16px;
  border-radius: 16px;
  background: #FAFAFA;
  cursor: default;
  margin-bottom: 3px;
}
main .whereBy .search-item:hover {
  background: #d9f0fc;
}
main .whereBy .search-item .item {
  margin-top: 16px;
}
main .whereBy .search-item .item:first-child {
  margin: 0;
}
main .whereBy .search-item .item img {
  width: 16px;
  margin-right: 7px;
}
main .whereBy .search-item .item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #29496c;
}
main .whereBy .search-item .item-text {
  font-size: 13px;
  line-height: 18px;
  color: #6d6d6d;
  margin-top: 4px;
}
main .whereBy .search-item .item .phone {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #29496c;
}
main .whereBy .search-item .item .phone img {
  width: 10px;
}
main .whereBy .map {
  width: 100%;
  height: 475px;
  border-radius: 12px;
  overflow: hidden;
}
main .whereBy .map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.request-form .input-box {
  display: flex;
  flex-direction: column;
  width: 53%;
  margin-top: 24px;
}
.request-form .input-box label {
  font-size: 14px;
  line-height: 14px;
  color: #3c3c3b;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.request-form .input-box label img {
  margin-right: 6px;
}
.request-form .input-box .form-inp {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
}
.request-form .input-box .form-inp::placeholder {
  color: #bababa;
}
.request-form .input-box .form-inp:focus {
  border-color: #29496C;
}
.request-form .error label {
  color: #cb4250;
}
.request-form .error .form-inp {
  border-color: #CB4250;
  color: #cb4250;
}
.request-form .error .form-inp::placeholder {
  color: #cb4250;
}
.request-form .request-submit {
  width: 45%;
  margin-top: 24px;
}
.request-form .check-box {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  margin-top: 28px;
}
.request-form .check-box input {
  appearance: none;
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/no-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
  cursor: pointer;
}
.request-form .check-box input:checked {
  background-image: url(../img/svg/checked.svg);
}
.request-form .check-box label {
  cursor: pointer;
}
.request-form .check-box a {
  border-bottom: 1px solid #3C3C3B;
}

.footer {
  background: #29496c;
  color: #fff;
  padding: 64px 0 31px;
  margin-top: 120px;
  border-radius: 16px 16px 0 0;
}
.footer .link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
}
.footer .link:first-child {
  margin-bottom: 15px;
}
.footer .link img {
  margin-right: 12px;
}
.footer-nav {
  width: 65%;
  justify-content: space-between;
}
.footer-nav li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.footer-nav li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 1px;
  background: #fff;
  transition: 0.3s linear;
}
.footer-nav li:hover::before {
  width: 100%;
}
.footer-bottom {
  text-align: end;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.footer-bottom a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}
.footer-bottom a:hover {
  color: #fff;
  border-color: #fff;
}

.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  overflow-y: scroll;
}
.popUp-close {
  position: absolute;
  top: 13px;
  right: 17px;
  background: transparent;
  cursor: pointer;
}
.popUp-content {
  width: 709px;
  border-radius: 8px;
  background: #FFCFDC;
  padding: 58px 68px 58px 98px;
  border-radius: 16px;
  position: relative;
  animation: popUp-anim 0.3s linear;
  margin: 50px auto;
  position: relative;
}
.popUp-content .info-text {
  margin-top: 8px;
}
.popUp-content .strawberrys {
  position: absolute;
  right: -60px;
  bottom: -60px;
}
.popUp .thanks {
  background: #fff;
  padding: 43px 20px 70px;
  text-align: center;
}
.popUp .thanks .title-text {
  line-height: 32px;
  margin: 20px 0 8px;
}
.popUp .thanks .info-text {
  font-size: 20px;
  line-height: 32px;
  color: #536272;
}

.popUpHide {
  animation: popUp-anim-hide 0.5s linear !important;
}

@keyframes popUp-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popUp-anim-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes menu-anim {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes heart-anim {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 1350px) {
  main .story .ice-cream {
    width: 250px;
  }
  main .story .illustration {
    width: 200px;
    bottom: 40px;
  }
}
@media (max-width: 1250px) {
  main .advantages .ice-cream {
    width: 80%;
  }
  main .advantages .circle-text {
    width: 15%;
  }
  main .advantages-item .item-line {
    max-width: 120px;
  }
  main .advantages-item .item-text {
    font-size: 16px;
    line-height: 20px;
  }
  main .contact-info {
    min-width: 360px;
    margin-right: 20px;
  }
  main .request .ice-cream {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .title-text {
    font-size: 24px;
    line-height: 30px;
  }
  .header {
    padding: 4px 0;
  }
  .header .logo img {
    width: 60px;
  }
  .header-nav {
    display: none;
  }
  .header-phone .phone-num {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .header-phone .order-phone img {
    margin-right: 10px;
    width: 20px;
  }
  .header-phone .order-phone span {
    font-size: 14px;
    line-height: 15px;
  }
  .header .menu-btn {
    display: flex;
  }
  main .banner {
    margin: 24px 0 50px;
  }
  main .banner-box {
    padding: 50px 30px;
    border-radius: 16px;
  }
  main .banner-box .title-text {
    width: 85%;
  }
  main .banner-box .title-text br {
    display: none;
  }
  main .banner-box .info-text {
    margin: 12px 0 20px;
    width: 66%;
  }
  main .company {
    position: relative;
    padding-top: 50px;
  }
  main .company .container {
    flex-direction: column;
  }
  main .company .title-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  main .company-img {
    width: 50%;
  }
  main .company-text {
    margin-top: 25px;
  }
  main .catalog {
    margin: 50px 0;
  }
  main .catalog .strawberry {
    top: 85%;
    left: 0;
    width: 150px;
  }
  main .advantages .title-text {
    font-size: 26px;
    line-height: 32px;
  }
  main .advantages-box {
    margin-top: 30px;
  }
  main .partner {
    margin-top: -150px;
  }
  main .partner-item {
    flex-direction: column;
  }
  main .partner-item .item-icon {
    margin: 0 0 20px;
  }
  main .partner-item .item-title {
    text-align: center;
  }
  main .story {
    background-size: cover;
  }
  main .story-box .logo {
    top: 43%;
  }
  main .story-item {
    padding-left: 30px;
  }
  main .request {
    overflow: hidden;
  }
  main .request .ice-cream {
    width: 60%;
    right: -20%;
  }
  main .whereBy-box {
    flex-direction: column;
    margin-top: 25px;
  }
  main .whereBy .search-box {
    margin: 0 0 20px 0;
    min-width: 100%;
  }
  main .whereBy .map {
    height: 350px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-nav {
    margin: 20px 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .advantages-item .item-line {
    display: none;
  }
  main .advantages-item .item:nth-child(2) {
    top: 20%;
  }
  main .contact .container {
    flex-direction: column;
  }
  main .contact-info {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
  main .contact .info-link .link:last-child {
    margin-top: 15px !important;
  }
  main .contact-map {
    height: 250px;
  }
  main .request {
    margin: 70px 0 50px;
    overflow: hidden;
  }
  main .request-form {
    width: 90%;
    position: relative;
    z-index: 3;
  }
  main .request .info-text {
    width: 70%;
  }
  main .request .ice-cream {
    width: 50%;
    right: -20%;
    top: 0;
    transform: none;
  }
  .popUp-content {
    width: 90%;
    padding: 40px 20px;
  }
  .popUp .strawberrys {
    width: 130px;
    right: -30px;
    bottom: -60px;
  }
  .popUp .check-box input {
    min-width: 16px;
  }
}
@media (max-width: 576px) {
  main .banner-box {
    padding: 30px 20px;
    border-radius: 16px;
    background-position: 80%;
  }
  main .banner-box .title-text {
    width: 100%;
  }
  main .banner-box .info-text {
    width: 80%;
  }
  main .company-img {
    width: 80%;
  }
  main .company-text {
    font-size: 35px;
  }
  main .catalog {
    background-size: cover;
    padding: 70px 0 50px;
    margin: 50px 0;
  }
  main .catalog .container {
    padding-right: 0;
  }
  main .catalog .swiper-btns .prev,
  main .catalog .swiper-btns .next {
    display: none;
  }
  main .advantages .ice-cream {
    width: 130%;
    margin-left: 0;
  }
  main .advantages .circle-text {
    width: 120px;
    right: 0;
  }
  main .advantages-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  main .advantages-item {
    margin-top: -180px;
  }
  main .advantages-item .item {
    justify-content: start !important;
    align-items: center !important;
    flex-direction: row !important;
    position: relative;
    left: 0 !important;
    right: 0 !important;
    width: auto;
    margin-bottom: 20px;
  }
  main .advantages-item .item-line {
    display: none;
  }
  main .advantages-item .item-icon {
    margin-bottom: 0 !important;
  }
  main .advantages-item .item-text {
    font-size: 18px;
    line-height: 26px;
  }
  main .advantages-item .item-text br {
    display: none;
  }
  main .partner {
    margin-top: 50px;
  }
  main .partner-item {
    flex-direction: column;
  }
  main .partner-item .item-icon {
    margin: 0 0 20px;
  }
  main .partner-item .item-title {
    text-align: center;
  }
  main .story {
    margin: 50px 0;
  }
  main .story .title-text {
    position: relative;
    z-index: 3;
  }
  main .story .blueberries {
    top: 20px;
    right: 0;
  }
  main .story .illustration {
    width: 150px;
    bottom: 20px;
  }
  main .story-box {
    grid-template-columns: repeat(1, 1fr);
  }
  main .story-box .logo {
    display: none;
  }
  main .story-item {
    padding: 30px;
    min-height: auto;
  }
  main .story-item:nth-child(4) .item-text {
    width: 80%;
  }
  main .request {
    padding: 50px 0;
    overflow: hidden;
  }
  main .request-form {
    width: 90%;
    position: relative;
    z-index: 3;
    flex-direction: column;
  }
  main .request-form .input-box {
    width: 100%;
  }
  main .request-form .request-submit {
    width: 100%;
    margin-top: 20px;
  }
  main .request-form .check-box {
    font-size: 12px;
  }
  main .request-form .check-box input {
    min-width: 16px;
  }
  main .request .info-text {
    width: 70%;
    font-size: 14px;
    line-height: 20px;
  }
  main .request .ice-cream {
    width: 60%;
    right: -20%;
    top: 0;
    transform: none;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .logo img {
    width: 90px;
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-nav {
    margin: 20px 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-nav li {
    width: 50%;
    margin-bottom: 8px;
  }
  .footer-nav li:hover::before {
    display: none;
  }
  .popUp .request-form .input-box {
    width: 100%;
  }
  .popUp .request-form .request-submit {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */